@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/* Header */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #000000;
  padding: 0.625rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

@supports (width: clamp( 9.25rem , 8.2272727273rem  +  5.1136363636vw , 12.0625rem )) {
  .header__logo {
    width: clamp( 9.25rem , 8.2272727273rem  +  5.1136363636vw , 12.0625rem );
  }
}

@supports not (width: clamp( 9.25rem , 8.2272727273rem  +  5.1136363636vw , 12.0625rem )) {
  .header__logo {
    width: calc(9.25rem + 2.8125 * (100vw - 20rem) / 55);
  }
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.menu__body {
  position: fixed;
  top: 0;
  right: -100%;
  overflow: auto;
  width: 30%;
  height: 100%;
  background-color: rgba(255, 108, 10, 0.8705882353);
  padding: 7.5rem 0 1.25rem 0;
  -webkit-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  transition: right 0.4s ease;
}

.menu__body::before {
  content: "";
  position: fixed;
  width: 30%;
  height: 5rem;
  top: 0;
  right: -100%;
  background-color: #000000;
  -webkit-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  transition: right 0.4s ease;
}

.menu-open .menu__body {
  right: 0;
}

.menu-open .menu__body::before {
  right: 0;
}

.menu__item:active {
  background-color: rgba(0, 0, 0, 0.168627451);
}

.menu__link {
  padding: 0.625rem 0;
  width: 100%;
  font-family: "Inter";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (font-size: clamp( 0.875rem , 0.8068181818rem  +  0.3409090909vw , 1.0625rem )) {
  .menu__link {
    font-size: clamp( 0.875rem , 0.8068181818rem  +  0.3409090909vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8068181818rem  +  0.3409090909vw , 1.0625rem )) {
  .menu__link {
    font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

.menu__link span {
  display: block;
  font-weight: 800;
  margin-left: 0.625rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.168627451);
  border-radius: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-menu {
  display: block;
  position: relative;
  width: 2.25rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #ffffff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* Header End */

.banner {
  padding-bottom: 5rem;
}

@supports (padding-top: clamp( 6.25rem , 5.3409090909rem  +  4.5454545455vw , 8.75rem )) {
  .banner {
    padding-top: clamp( 6.25rem , 5.3409090909rem  +  4.5454545455vw , 8.75rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 5.3409090909rem  +  4.5454545455vw , 8.75rem )) {
  .banner {
    padding-top: calc(6.25rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@supports (width: clamp( 24.625rem , 6.8472222222rem  +  37.037037037vw , 34.625rem )) {
  .banner__image {
    width: clamp( 24.625rem , 6.8472222222rem  +  37.037037037vw , 34.625rem );
  }
}

@supports not (width: clamp( 24.625rem , 6.8472222222rem  +  37.037037037vw , 34.625rem )) {
  .banner__image {
    width: calc(24.625rem + 10 * (100vw - 48rem) / 27);
  }
}

@supports (height: clamp( 21.5rem , 2.5rem  +  39.5833333333vw , 32.1875rem )) {
  .banner__image {
    height: clamp( 21.5rem , 2.5rem  +  39.5833333333vw , 32.1875rem );
  }
}

@supports not (height: clamp( 21.5rem , 2.5rem  +  39.5833333333vw , 32.1875rem )) {
  .banner__image {
    height: calc(21.5rem + 10.6875 * (100vw - 48rem) / 27);
  }
}

.banner__image img {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-banner__title {
  position: relative;
  width: 70%;
  white-space: nowrap;
  font-weight: 300;
  line-height: 145%;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
  border-bottom: 0.1875rem solid #000000;
}

@supports (font-size: clamp( 2.25rem , 1.4090909091rem  +  4.2045454545vw , 4.5625rem )) {
  .info-banner__title {
    font-size: clamp( 2.25rem , 1.4090909091rem  +  4.2045454545vw , 4.5625rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.4090909091rem  +  4.2045454545vw , 4.5625rem )) {
  .info-banner__title {
    font-size: calc(2.25rem + 2.3125 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .info-banner__title {
    margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .info-banner__title {
    margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.info-banner__suptitle {
  line-height: 145%;
  font-weight: 700;
}

@supports (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
  .info-banner__suptitle {
    font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
  .info-banner__suptitle {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .info-banner__suptitle {
    margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .info-banner__suptitle {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.info-banner__text {
  font-weight: 300;
  line-height: 150%;
  max-width: 28.125rem;
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .info-banner__text {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .info-banner__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.content {
  padding-bottom: 5rem;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem ))) {
  .content__item {
    -webkit-column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem ))) {
  .content__item {
    -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
            column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.content__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (width: clamp( 18.125rem , 11.0795454545rem  +  35.2272727273vw , 37.5rem )) {
  .content__image {
    width: clamp( 18.125rem , 11.0795454545rem  +  35.2272727273vw , 37.5rem );
  }
}

@supports not (width: clamp( 18.125rem , 11.0795454545rem  +  35.2272727273vw , 37.5rem )) {
  .content__image {
    width: calc(18.125rem + 19.375 * (100vw - 20rem) / 55);
  }
}

@supports (height: clamp( 16.25rem , 13.0681818182rem  +  15.9090909091vw , 25rem )) {
  .content__image {
    height: clamp( 16.25rem , 13.0681818182rem  +  15.9090909091vw , 25rem );
  }
}

@supports not (height: clamp( 16.25rem , 13.0681818182rem  +  15.9090909091vw , 25rem )) {
  .content__image {
    height: calc(16.25rem + 8.75 * (100vw - 20rem) / 55);
  }
}

.content__image img {
  min-width: 100%;
  height: 100%;
}

.item-content__number {
  font-family: "Inter";
  border-radius: 100%;
  border: 0.0625rem solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-width: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
  .item-content__number {
    min-width: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
  }
}

@supports not (min-width: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
  .item-content__number {
    min-width: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (height: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
  .item-content__number {
    height: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
  }
}

@supports not (height: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
  .item-content__number {
    height: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.item-content__title {
  font-family: "Inter";
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 0.9375rem;
}

.item-content__text {
  max-height: 9.375rem;
  overflow: auto;
  line-height: 120%;
}

.item-content__text span {
  font-size: 1.0625rem;
  font-weight: 800;
}

@media (max-width: 61.99875em) {
  .menu__body {
    width: 35%;
  }

  .menu__body::before {
    width: 35%;
  }

  .content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }

  .content__container_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .content__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 2.5rem;
  }

  .menu__body::before {
    height: 3.75rem;
  }

  .menu__body {
    width: 45%;
  }

  .menu__body::before {
    width: 45%;
  }

  .banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 2.5rem;
  }

  .banner__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info-banner__title {
    width: 100%;
    text-align: center;
  }

  .content__image img {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    width: 55%;
  }

  .menu__body::before {
    width: 55%;
  }
}

@media (any-hover: hover) {
  .menu__item:hover {
    background-color: rgba(0, 0, 0, 0.168627451);
  }
}